Repository gecBurton/inference_logic: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: pipenv run isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: pipenv run black json_inference_logic tests
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: pipenv run flake8 json_inference_logic tests
        types: [python]
        exclude: setup.py

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pipenv run pytest --cov=json_inference_logic --cov-fail-under=100 --cov-report=term-missing
        types: [python]
        pass_filenames: false

      - id: doctest
        name: doctest
        stages: [commit]
        language: system
        entry: pipenv run pytest --doctest-modules json_inference_logic/
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: pipenv run mypy json_inference_logic tests
        types: [python]
        pass_filenames: false

      - id: sphinx
        name: sphinx
        stages: [commit]
        language: system
        entry: pipenv run make html -C docs
        types: [python]
        pass_filenames: false

      - id: safety
        name: safety
        stages: [commit]
        language: system
        entry: pipenv run safety check
        types: [python]
        pass_filenames: false

test 15 passing
  tests/ninety_nine_problems/test_list.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

test 16 passing
  tests/ninety_nine_problems/test_list.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

added xfails for remaining list tests
  tests/ninety_nine_problems/test_list.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

updated tests
  README.rst
  tests/algorithms/test_search.py
  tests/ninety_nine_problems/test_list.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

moved 99p
  .idea/workspace.xml
  README.rst
  docs/index.rst
  docs/ninety_nine.rst
Due: none

updated 99p docs
  README.rst
  docs/ninety_nine.rst
Due: none

new_frame made into a method
  .idea/workspace.xml
  json_inference_logic/__init__.py
  json_inference_logic/algorithms.py
  json_inference_logic/data_structures.py
  tests/algorithms/test_new_frame.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

test 09 passing
  .idea/workspace.xml
  tests/ninety_nine_problems/test_list.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

test 10 working
  tests/ninety_nine_problems/test_list.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

test 11 passing
  tests/ninety_nine_problems/test_list.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

test 13 failing
  tests/ninety_nine_problems/test_list.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

exclided workspace.xml
  .gitignore
Due: none

added failing test 12
  tests/ninety_nine_problems/test_list.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

updated README
  README.rst
  tests/ninety_nine_problems/test_list.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

tidied up the README
  README.rst
Due: none

renames proj
  .github/workflows/python-package.yml
  .idea/json_inference_logic.iml
  .idea/modules.xml
  .pre-commit-config.yaml
  .travis.yml
  CONTRIBUTING.rst
  Makefile
  README.rst
  docs/Makefile
  docs/conf.py
  docs/installation.rst
  docs/make.bat
  docs/usage.rst
  inference_logic/__init__.py
  inference_logic/algorithms.py
  inference_logic/data_structures.py
  inference_logic/equality.py
  json_inference_logic/__init__.py
  setup.cfg
  setup.py
  tests/algorithms/test_new_frame.py
  tests/algorithms/test_search.py
  tests/algorithms/test_unify.py
  tests/data_structures/test_immutable_dict.py
  tests/data_structures/test_prologlists.py
  tests/data_structures/test_rule.py
  tests/data_structures/test_variable.py
  tests/ninety_nine_problems/test_arithmetic.py
  tests/ninety_nine_problems/test_list.py
  tests/test_equality.py
  tox.ini
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

Update README.rst
  README.rst
Due: none

updated readme
  README.rst
Due: none

bumped min py version
  setup.py
Due: isort, black, pytest, doctest, mypy, sphinx, safety

reinstating 3.7 for readthedocs
  .github/workflows/python-package.yml
  inference_logic/equality.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

added py 39 to wf
  .github/workflows/python-package.yml
  .idea/.gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
Due: none

added py 39 to wf (#15)
  .github/workflows/python-package.yml
  .idea/.gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
Due: none

updated readme
  README.rst
  tox.ini
Due: none

Update readme (#16)
  README.rst
  tox.ini
Due: none

removed last trace of JSON!
  docs/conf.py
  docs/index.rst
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

updated solved url
  README.rst
Due: none

updated to make it clear rhat stuff is solved!
  README.rst
Due: none

Update readme (#17)
  README.rst
  docs/conf.py
  docs/index.rst
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

Update readme (#18)
  README.rst
Due: none

updated README
  README.rst
Due: none

Update readme (#19)
  README.rst
Due: none

updated docs
  README.rst
Due: none

Update readme (#20)
  README.rst
Due: none

Update readme (#21)
  README.rst
Due: none

Update readme (#22)
  README.rst
Due: none
